<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>SafeWalk</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
  <div class="header">
    <h1>🚶 SafeWalk</h1>
    <p id="network-status">Checking network...</p>
  </div>
  <div class="sos-container">
  <button id="sos-button">🚨 SOS</button>
</div>

  <div id="map"></div>

  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

  <!-- Custom JS -->
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
